.search_results
- if @charity_associations && @charity_associations.any?
  %h2.section-title #{@charity_associations.count} resultados
  %table
    %thead.hide-for-small
      %tr
        %th.small-5 Instituição
        %th.small-4 Causa
        %th.small-2 Localidade
        %th.small-1 NIF
    %tbody
      - @charity_associations.each do |charity_association|
        %tr
          %td.col-instituicao{:data => { :column => "Instituição" }}= charity_association.name
          %td.col-causa{:data => { :column => "Causa" }}= charity_association.activity_code.try { |ac| "#{ac.name}" }
          %td.col-localidade{:data => { :column => "Localidade" }}= charity_association.city
          %td.col-nif{:data => { :column => "NIF" }}= charity_association.nif
- else
  %p.msg.msg-notice= message
