= render :partial => 'charity_associations/search_box', :locals => { :show_steps => true }

.info-box#info
  .content
    %h2 Como funciona

    %p
      Todos os anos, ao entregar a sua declaração do IRS, pode
      %b doar 0.5%
      do imposto total liquidado pelo Estado, a uma entidade particular ou de solidariedade social
      religiosa ou de utilidade pública reconhecida pelo Estado. Esta operação não acarreta nenhuns
      custos para o contribuinte e não afecta o valor a receber em caso de reembolso.

    %p
      Para tal, basta preenchar o
      %b quadro 9 do anexo H
      com o nome da instituição e o número de contribuinte em NIPC.

    %h2 Sobre o meioporcento.pt

    %p Este projecto procura facilitar a procura de entidades abrangidas e reconhecidas pelo Estado. O contribuinte pode através da causa ou localização encontrar a entidade a quem doar parte do seu IRS.

