.search-line,
.results-table {
  border-radius: 10px;
  border: 10px solid #f4f4f4;
  background-color: #f4f4f4;
}

.search-line {
  font-size: 0;

  > * {
    font-size: 16px;
    font-size: 1rem;
  }

  > *,
  input,
  button {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    border: none;
  }

  input,
  select {
    height: 3.45rem;
    height: 3.45rem;
    border: 0;
    margin-bottom: 0;
  }

  #search & * {
    box-shadow: none;
  }

  .submit {
    background-color: color("primary");
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1.0625rem;
    padding-bottom: 1rem;
    border-radius: 0 4px 4px 0;
    transition-duration: 0.2s;
    outline: 0;

    &:focus,
    &:hover {
      background-color: #0095d9;
    }

    &:active {
      transform: translate(1px, 1px);
    }
  }

  // border input: #ccc
  // border botao: #0095d9
  // color botao: #00a8f5
  #search & {
    ::-webkit-input-placeholder {
       color: #73747a;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #73747a;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #73747a;
    }

    :-ms-input-placeholder {
       color: #73747a;
    }

    input,
    .chosen-container {
      &,
      * {
        color: inherit;
      }
    }
    .button {
      border: 1px solid #0095d9;
      background-color: #00a8f5;
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
    }

    @media only screen and (max-width: 40.063em) {
      > * {
        border: 1px solid #ccc;
        border-bottom-width: 0;
      }

      > :first-child {
        border-radius: 4px 4px 0 0;
        overflow: hidden;
      }

      > :last-child {
        border-width: 0;
      }

      .button {
        border-radius: 0 0 4px 4px;
      }
    }

    @media only screen and (min-width: 40.063em) {
      .field > input,
      .chosen-container {
        box-sizing: content-box;
        border: 1px solid #ccc;
      }

      #search_term {
        border-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 4px 0 0 4px;
        overflow: hidden;
      }
    }
  }
}

.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
  border-radius: 0;
  box-shadow: none;
  background: white;
  border: none;
}


.chosen-container-single {
  .chosen-single {
    line-height: 3.5rem;
    height: 3.45rem;

    &,
    .chosen-drop {
      box-shadow: 0px 0px 1px rgba(0,0,0,0.1) inset;
    }

    div {
      top: 50%;
      margin-top: -.8em;

      b {
        width: 10px;
      }
    }

    .chosen-drop {
      border: none;
    }
  }

  .chosen-results li.highlighted {
    &,
    #search & {
      background: color("primary");
      color: white;
    }
  }
}

.more-info {
  padding: 0.1em 1em 0;
  background-color: rgba(255, 255, 255, 0);
  color: color("primary");
  margin: 0;
  transition-duration: 0.1s;

  &:hover,
  &:focus,
  &:active,
  tr:hover & {
    background: none;
    color: white;
    outline: 0;
  }

  i {
    position: relative;
    top: 2px;
  }
}

.search-results {
  table tr {
    cursor: pointer;
    cursor: hand;
  }
}

.ipss-number-place {
  font-weight: 400;
  letter-spacing: 1px;
}


.image-preview {
  position: relative;

  .ipss-number-place {
    position: absolute;
    top: 20%;
    right: 20%;
  }
}

.lead {
  font-weight: 800;
}

.search-results {
  td,
  th {
    padding: 1rem;
  }

  table {
    border-radius: 4px;
    overflow: hidden;
    border-color: #ccc;
    margin-bottom: 0;
  }

  th {
    border-bottom: 1px solid #ccc;
  }
}
