body {
  font-family: "proxima-nova", "Avenir Next", sans-serif;

  *,
  .button,
  button {
    font-family: inherit;
  }
}

::selection {
  color: white;
  background: color("primary");
  text-shadow: none;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}