/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "normalize.css"
 *= require "foundation-5.5.1.css"
 */
 @import "colors";
 @import "typography";
 @import "search";

 .content {
  max-width: 68rem;
  margin: 0 auto;
 }

.assist {
  position: absolute;
  left: -9999em;
  direction: ltr;
  text-indent: -9999em;
  overflow: hidden;
}

.site-header,
.search-box {
  background: color("gray-extra-light");
  border-style: solid;
  border-color: color("gray-light", "darken");
  border-width: 0;
}

.site-header {
  border-width: 5px 5px 0px 5px;
}
.search-box {
  padding-bottom: 5%;
  border-width: 0 5px 5px 5px;
}

.site-header {
  text-align: center;
  padding: 7% 0 4%;
}

.site-title {
  word-spacing: -0.25em;
  color: color("primary");

  a {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
  }

  .site-root {
    text-transform: uppercase;
    font-weight: 800;

    span {
      position: relative;

      &:before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 45%;
        bottom: 0;
        border-top: 2px solid color("gray-extra-light");
        background: color("logo-veil");
        transition: top 0.5s;
      }
    }
    &:focus,
    &:hover {
      span:before {
        top: 100%;
      }
    }
  }

  .info {
    margin-left: 0.25em;
    margin-right: -1.25em;
    overflow: hidden;
    width: 1.2rem;
    height: 1.2rem;
    background: #ccc;
    color: white;
    border-radius: 100em;
    display: inline-block;
    position: relative;

    &:before {
      content: "i";
      position: absolute;
      text-align: center;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 1.2;
      font-size: 18px;
      font-weight: 800;
    }
  }
}

.sub-title {
  font-size: 2.5em;
}

.sub-sub-title {
  font-size: 1.4em;
}

.results {
  width: 100%;
}

.info-box{
  background: white;
  padding: 7% 0;
}