@import "colors";

body {
  border: 0;
}

search-line > .field + .field {
  border-left: 0;
  border-top: 1px solid color("gray-light");
}


.search-results {

  table {
    width: 100%;
    font-size: 1.2em;
  }

  td,
  tr,
  tbody {
    display: block;
  }

  td {
    width: 100%;
    padding: 8px 16px;

    &:before {
      content: attr(data-column);
      display: block;
      text-transform: uppercase;
      color: color("text-ghost");
      font-weight: 400;
      font-size: 0.8em;
      letter-spacing: 1px;
    }
  }

  .col-instituicao {
    padding-top: 16px;
  }

  tr:hover td:before {
    color: white;
  }

  tr {
    position: relative;
  }

  .col-info {
    padding: 0;
  }

  .more-info {
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}
